
// Variable color


$bg-icon-blue: #EEF4FE;
$bg-icon-green: #EBFAF6;
$bg-icon-red: #FDF6F6;
$bg-icon-yellow: #FFF9EC;
$bg-hover: #FAFAFA;
$bg-white: #FFFFFF;
$bg-dark : #303C54;
$bg-green : #529E6F;
$bg-orange : #F5941A;

$border-color: #F0F0F0;
$border-orange : #F5941A;

$primary-color: #3F87F5;
$white-color: #FFFFFF;

$green-400: #52C41A;
$yellow-400: #FFD05E;

$error-color: #F5222D;