@import '../../../../../assets/style/global.scss';
@import '../../../../../assets/style/color.scss';
.ant-advanced-search-form {
    padding: 24px;
    //background: #fbfbfb;
    border: 1px solid $border-color;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    .form-row-container {
      display: flex;
      gap: 60px;
      .form-row-item {
        width: 50%;
        nz-form-item {
          display:flex;
          nz-form-label {
            display:flex;
            width: 32%;
          }
         
        }
      }
      .form-row-checkbox {
        display: flex;
        padding-left: 15rem;
        
      }
      .checkbox-container {
        width: 50%;
        display: flex;
        
      }
    }
  }

  .code-box-demo {
    overflow-x: auto;
  }

  .ant-segmented {
    margin-bottom: 10px;
  }
  
  nz-select {
    width: 100% !important;
  }
  
  nz-form-label {
    font-weight: bold !important;
  }
  
  nz-breadcrumb {
    font-weight: bold !important;
  }

  .pointer {
    cursor:pointer;
  }

  .register-area {

    display:flex;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .ant-segmented-group {
    
    border-bottom: 1px solid $border-color;
  }

  .search-result-list {
    border: 1px border $border-color;
    border-radius: 6px;
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
  }

  .header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }