<form nz-form [formGroup]="addVisitorEntranceTestForm">
  <!-- ROW 1 -->
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label
          nzFor="date"
          nzXs="24"
          nzSm="24"
          nzMd="8"
          nzLg="8"
          nzXl="5"
        >
          {{ "Modules.Student.Test.Date" | translate }}
        </nz-form-label>
        <nz-form-control nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="19">
          <nz-date-picker
            style="width: 60%"
            formControlName="date"
            id="date"
            [nzFormat]="dateFormat"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzFor="course_id"
          nzXs="24"
          nzSm="24"
          nzMd="8"
          nzLg="8"
          nzXl="5"
        >
          {{ "Modules.Student.Test.Course" | translate }}
        </nz-form-label>
        <nz-form-control nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="19">
          <nz-select
            nzShowSearch
            nzPlaceHolder="{{ 'Labels.Select' | translate }}"
            formControlName="course_id"
            (ngModelChange)="onChangeTargetCourse($event)"
            id="course_id"
            [nzShowArrow]="true"
          >
            <nz-option
              *ngFor="let o of targetCourses"
              [nzLabel]="o.name"
              [nzValue]="o.id"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label
          nzFor="room_id"
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          nzXl="4"
        >
          {{ "Modules.Student.Test.Note" | translate }}
        </nz-form-label>

        <nz-form-control nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="20">
          <textarea nz-input formControlName="note" rows="7"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- ROW 4 -->
  <div nz-row [nzGutter]="24"></div>
</form>
<div nz-row [nzGutter]="24">
  <div nz-col [nzSpan]="24">
    <nz-table
      class="w-auto-scroll"
      [nzData]="exams"
      [nzBordered]="true"
      #nzExamTable
      style="width: 100%"
      nzShowPagination="false"
    >
      <thead>
        <tr>
          <th width="20%">
            {{ "Modules.Student.Test.Date" | translate }}
          </th>
          <th width="20%">
            {{ "Modules.Student.Test.Skill" | translate }}
          </th>
          <th width="10%">
            {{ "Modules.Student.Test.Score" | translate }}
          </th>
          <th width="10%" nzAlign="center">
            {{ "Modules.Student.Test.Teacher" | translate }}
          </th>
          <th width="20%" nzAlign="center">
            {{ "Modules.Student.Test.Note" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of exams; let i = index">
          <tr>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === i + '_0'"
                (click)="startEdit(i + '_0')"
              >
                {{
                  data.date != null
                    ? (data.date | formatDateToString)
                    : ("Labels.Select" | translate)
                }}
              </div>
              <div [hidden]="editId !== i + '_0'">
                <nz-date-picker
                  style="width: 100%"
                  [(ngModel)]="data.date"
                  [nzFormat]="dateFormat"
                ></nz-date-picker>
              </div>
            </td>
            <td>
              {{ data.skill_name }}
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === i + '_2'"
                (click)="startEdit(i + '_2')"
              >
                {{ data.score == null ? "Thêm điểm" : data.score }}
              </div>
              <input
                [hidden]="editId !== i + '_2'"
                type="number"
                nz-input
                [(ngModel)]="data.score"
                (blur)="stopEdit()"
              />
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === i + '_3'"
                (click)="startEdit(i + '_3')"
              >
                {{
                  data.teacher_full_name == null
                    ? ("Labels.Select" | translate)
                    : data.teacher_full_name
                }}
              </div>
              <!-- <input [hidden]="editId !== data.id?.toString() +'_1+i' " type="text" nz-input [(ngModel)]="data.week_day" (blur)="stopEdit()" /> -->
              <div [hidden]="editId !== i + '_3'">
                <nz-select
                  [(ngModel)]="data.teacher_id"
                  (blur)="stopEdit()"
                  nzShowSearch
                  nzPlaceHolder="{{ 'Labels.Select' | translate }}"
                  [nzShowArrow]="true"
                  (ngModelChange)="onChangeTeacher($event, i)"
                >
                  <nz-option
                    *ngFor="let o of teachers"
                    [nzLabel]="o.full_name"
                    [nzValue]="o.id"
                  >
                  </nz-option>
                </nz-select>
              </div>
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === i + '_4'"
                (click)="startEdit(i + '_4')"
              >
                {{ data.note == null ? "Thêm ghi chú" : data.note }}
              </div>
              <input
                [hidden]="editId !== i + '_4'"
                type="text"
                nz-input
                [(ngModel)]="data.note"
                (blur)="stopEdit()"
              />
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
<div class="button-container">
  <button nz-button nzType="primary" (click)="onCloseEntranceTestForm()">
    {{ "Labels.Save" | translate }}
  </button>
  <button nz-button (click)="onCancel()">
    {{ "Labels.Cancel" | translate }}
  </button>
</div>
