<aio-template-layout>
  <!-- BREAD CRUMB -->
  <ng-container breadcrumbTemplate>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item
        ><a routerLink="/">
          <i nz-icon nzType="home"> </i>
          {{ "Modules.Menu.Home" | translate }}</a
        ></nz-breadcrumb-item
      >

      <nz-breadcrumb-item
        ><a routerLink="/student/visitor">
          {{ "Modules.Menu.Student.VisitorList" | translate }}</a
        ></nz-breadcrumb-item
      >

      <nz-breadcrumb-item>
        {{
          "Modules.Menu.Student.VisitorDetail" | translate
        }}</nz-breadcrumb-item
      >
    </nz-breadcrumb>
  </ng-container>
  <!-- END BREAD CRUMB -->

  <!-- CONTENT -->
  <ng-container contentTemplate>
    <div class="header-content-container">
      <!-- TAB SEGMENT -->
      <nz-segmented
        [nzOptions]="options"
        [(ngModel)]="selectedIndex"
      ></nz-segmented>
      <!--END TAB SEGMENT -->
      <div>
        <div *ngIf="isEdit && selectedIndex === 0" class="register-area">
          <button nz-button nzType="primary" (click)="onSaveStudentDetail()">
            {{ "Labels.Save" | translate }}
          </button>
          <button nz-button (click)="onClickCancel()">
            {{ "Labels.Cancel" | translate }}
          </button>
        </div>
        <div *ngIf="!isEdit && selectedIndex === 0" class="register-area">
          <button nz-button nzType="primary" (click)="onClickEditStudent()">
            {{ "Labels.Update" | translate }}
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="selectedIndex === 0">
      <div class="ant-advanced-search-form">
        <form *ngIf="studentDetailForm" nz-form [formGroup]="studentDetailForm">
          <!-- ROW 1 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="full_name">
                  {{ "Modules.Student.FullName" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input nz-input formControlName="full_name" id="full_name" />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="sex">
                  {{ "Modules.Student.Gender" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <nz-radio-group formControlName="sex">
                    <label nz-radio nzValue="male">{{
                      "Modules.Student.Male" | translate
                    }}</label>
                    <label nz-radio nzValue="female">{{
                      "Modules.Student.Female" | translate
                    }}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="date_of_birth">
                  {{ "Modules.Student.DateOfBirth" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <nz-date-picker
                    style="width: 60%"
                    formControlName="date_of_birth"
                    id="date_of_birth"
                    [nzFormat]="dateFormat"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="current_school">
                  {{ "Modules.Student.School" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="current_school"
                    id="current_school"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- ROW 3 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="home_address">
                  {{ "Modules.Student.Address" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="home_address"
                    id="home_address"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="email">
                  {{ "Modules.Student.Email" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input nz-input formControlName="email" id="email" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- ROW 4 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="mobile_phone">
                  {{ "Modules.Student.Phone" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="mobile_phone"
                    id="mobile_phone"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="form-row-item"></div>
          </div>

          <!-- ROW 5 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="parent_1_name">
                  {{ "Modules.Student.ParentName" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="parent_1_name"
                    id="parent_1_name"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="parent_1_mobile">
                  {{ "Modules.Student.ParentPhone" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="parent_1_mobile"
                    id="parent_1_mobile"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <!-- ROW 6 -->
          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="parent_2_name">
                  {{ "Modules.Student.ParentName" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="parent_2_name"
                    id="parent_2_name"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="parent_2_mobile">
                  {{ "Modules.Student.ParentPhone" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="parent_2_mobile"
                    id="parent_2_mobile"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="learning_purposes">
                  {{ "Modules.Student.Purposes" | translate }}</nz-form-label
                >
                <nz-form-control>
                  <input
                    nz-input
                    formControlName="learning_purposes"
                    id="learning_purposes"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row-item"></div>
          </div>

          <div class="form-row-container">
            <nz-checkbox-wrapper
              style="width: 100%"
              (nzOnChange)="studentStudyPurposeChange($event)"
            >
              <div
                class="form-row-checkbox"
                *ngFor="let data of studentStudyPurpose; let i = index"
              >
                <div class="form-row-item" *ngIf="i % 2 === 0">
                  <nz-form-item>
                    <label
                      nz-checkbox
                      nzValue="{{ data.id }}"
                      nzChecked="{{ data.selected }}"
                      nzDisabled="{{ !isEdit }}"
                      >{{ data.value }}&nbsp;<span
                        >({{ data.value_vi }})</span
                      ></label
                    >
                  </nz-form-item>
                </div>
                <div
                  class="form-row-item"
                  style="margin-left: 22%"
                  *ngIf="i % 2 === 0"
                >
                  <nz-form-item>
                    <label
                      *ngIf="studentStudyPurpose[i + 1] != null"
                      nz-checkbox
                      nzValue="studentStudyPurpose[i+1].id"
                      nzChecked="{{ studentStudyPurpose[i + 1].selected }}"
                      nzDisabled="{{ !isEdit }}"
                      >{{ studentStudyPurpose[i + 1].value }}&nbsp;<span
                        >({{ studentStudyPurpose[i + 1].value_vi }})</span
                      ></label
                    >
                  </nz-form-item>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </div>

          <div class="form-row-container">
            <div class="form-row-item">
              <nz-form-item>
                <nz-form-label nzFor="purposes">
                  {{ "Modules.Student.Demand" | translate }}</nz-form-label
                >
              </nz-form-item>
            </div>
          </div>
          <div class="form-row-container">
            <nz-form-item style="width: 100%">
              <nz-checkbox-wrapper
                style="width: 100%"
                (nzOnChange)="studentStudyInterestChange($event)"
              >
                <div
                  class="form-row-checkbox"
                  *ngFor="let data of studentStudyInterest; let i = index"
                >
                  <div class="checkbox-container" *ngIf="i % 2 === 0">
                    <label
                      nz-checkbox
                      nzValue="{{ data.id }}"
                      nzDisabled="{{ !isEdit }}"
                      nzChecked="{{ data.selected }}"
                      >{{ data.value }}&nbsp;<span
                        >({{ data.value_vi }})</span
                      ></label
                    >
                  </div>
                  <div *ngIf="i % 2 === 0" style="margin-left: 11%">
                    <label
                      *ngIf="studentStudyInterest[i + 1] != null"
                      nz-checkbox
                      nzValue="studentStudyPurpose[i+1].id"
                      nzDisabled="{{ !isEdit }}"
                      nzChecked="{{ studentStudyInterest[i + 1].selected }}"
                      >{{ studentStudyInterest[i + 1].value }}&nbsp;<span
                        >({{ studentStudyInterest[i + 1].value_vi }})</span
                      ></label
                    >
                  </div>
                </div>
              </nz-checkbox-wrapper>
            </nz-form-item>
          </div>
        </form>
      </div>
    </ng-container>
    <!-- danh sách lớp học tab -->
    <ng-container *ngIf="selectedIndex === 1">
      <nz-table #editRowTable nzBordered [nzData]="studentClasses">
        <thead>
          <tr>
            <th>{{ "Modules.Student.ClassCode" | translate }}</th>
            <th>{{ "Modules.Student.Course" | translate }}</th>
            <th>{{ "Modules.Student.Time" | translate }}</th>
            <th>{{ "Modules.Student.Status" | translate }}</th>
            <th>{{ "Modules.Student.Room" | translate }}</th>
            <th>{{ "Modules.Student.Progress" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of studentClasses" class="editable-row">
            <td>
              <div>
                {{ data.code }}
              </div>
            </td>
            <td>
              <div>
                {{ data.name }}
              </div>
            </td>
            <td>
              <div>
                {{ data.start_date | stringReplace }} -
                {{ data.end_date | stringReplace }}
              </div>
            </td>
            <td>
              <div *ngIf = "data.status==='Active'">
                <button nz-button nzType="primary" nzShape="round">
                  Đang diễn ra
                </button>
              </div>
              <div *ngIf = "data.status!=='Active'">
                <button nz-button nzType="primary" nzShape="round">
                  Kết thúc
                </button>
              </div>
            </td>
            <td>
              <div>
                {{ data.room_name }}
              </div>
            </td>
            <td>
              <div>
                {{ data.progress }}
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>
  <!--END CONTENT -->
</aio-template-layout>

