.bread-crumb {
    font-weight: 600;
}
.page-title {
    font-weight: 700;
}

.action-bar {
    text-align: right;
}

.inner-box {
    margin-bottom: 10px;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 95%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #aaa;
    margin-bottom: 15px;
}

.footer-action {
    text-align: right;
}