<aio-template-layout>
  <!-- BREAD CRUMB -->
  <ng-container breadcrumbTemplate>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item
        ><a routerLink="/">
          <i nz-icon nzType="home"> </i>
          {{ "Modules.Menu.Home" | translate }}</a
        ></nz-breadcrumb-item
      >

      <nz-breadcrumb-item
        ><a [routerLink]="['class/list']">{{
          "Modules.Menu.Class.ClassList" | translate
        }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-container>
  <!-- END BREAD CRUMB -->

  <!-- ACTION BAR -->
  <ng-container actionBarTemplate>
    <button nz-button nzType="primary" (click)="createClass()">
      <i nz-icon nzType="plus" nzTheme="outline"></i
      >{{ "Labels.Create" | translate }}
    </button>
  </ng-container>
  <!-- END ACTION BAR -->

  <!-- PAGE TITLE -->
  <ng-container pageTitleTemplate> </ng-container>
  <!-- END PAGE TITLE -->

  <!-- CONTENT -->
  <ng-container contentTemplate>
    <form
      *ngIf="searchClassForm"
      nz-form
      [formGroup]="searchClassForm"
      class="ant-advanced-search-form"
    >
      <div class="form-container">
        <div class="form-item-container">
          <nz-form-item class="form-item">
            <nz-form-label [nzFor]=""
              >{{ "Modules.Class.ClassList.Labels.StartDate" | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-date-picker
                style="width: 100%"
                formControlName="startDate"
                [nzFormat]="dateFormat"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item">
            <nz-form-label style="margin-left: 15px" [nzFor]=""
              >{{ "Modules.Class.ClassList.Labels.EndDate" | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-date-picker
                style="width: 100%"
                [nzFormat]="dateFormat"
                formControlName="endDate"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-item-container"></div>
      </div>
      <ng-container *ngIf="!isCollapse">
        <div class="form-container">
          <nz-form-item class="form-item-container">
            <nz-form-label [nzFor]="">
              {{ "Modules.Class.New.Forms.ClassCode" | translate }}
            </nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="code" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item-container">
            <nz-form-label>
              {{ "Modules.Class.New.Forms.Course" | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-select
                (ngModelChange)="onCoursesChange($event)"
                nzShowSearch
                nzMode="multiple"
                nzPlaceHolder="{{ 'Labels.Select' | translate }}"
                formControlName="course_ids"
                [nzShowArrow]="true"
              >
                <nz-option
                  *ngFor="let course of courses"
                  [nzLabel]="course.name"
                  [nzValue]="course.id"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-container">
          <nz-form-item class="form-item-container">
            <nz-form-label [nzFor]="">
              {{ "Modules.Class.ClassList.Labels.Teachers" | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-select
                nzMode="multiple"
                (ngModelChange)="onTeachersChange($event)"
                nzShowSearch
                nzPlaceHolder="{{ 'Labels.Select' | translate }}"
                formControlName="teacher_ids"
                [nzShowArrow]="true"
              >
                <nz-option
                  *ngFor="let teacher of teachers"
                  [nzValue]="teacher.id"
                  [nzLabel]="teacher.full_name"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="form-item-container">
            <nz-form-label>
              {{ "Modules.Class.ClassList.Labels.Rooms" | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-select
                (ngModelChange)="onRoomsChange($event)"
                nzShowSearch
                nzMode="multiple"
                nzPlaceHolder="{{ 'Labels.Select' | translate }}"
                formControlName="room_ids"
                [nzShowArrow]="true"
              >
                <nz-option
                  *ngFor="let room of rooms"
                  [nzLabel]="room.name"
                  [nzValue]="room.id"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
      <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button [nzType]="'primary'" (click)="onSearchClass()">
            {{ "Labels.Search" | translate }}
          </button>
          <button nz-button (click)="resetForm()">
            {{ "Labels.Clear" | translate }}
          </button>
          <button
            nz-button
            nzType="text"
            class="collapse"
            (click)="toggleCollapse()"
          >
            <span *ngIf="!isCollapse">{{ "Labels.Collapse" | translate }}</span>
            <span *ngIf="isCollapse">{{ "Labels.Expand" | translate }}</span>
            <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
          </button>
        </div>
      </div>
    </form>

    <div class="search-result-list">
      <nz-table
        #classListTable
        class="w-auto-scroll"
        [nzData]="classList"
        [nzBordered]="true"
        [nzPageSize]="pageSize"
        style="width: 100%"
        [nzPageSizeOptions]="[10, 20, 30, 40, 50, 100, 200]"
        nzShowSizeChanger
      >
        <thead>
          <tr>
            <th width="10%" nzAlign="center">
              {{ "Modules.Class.ClassList.Tables.Code" | translate }}
            </th>
            <th width="15%">
              {{ "Modules.Class.ClassList.Tables.Course" | translate }}
            </th>
            <th width="20%">
              {{ "Modules.Class.ClassList.Tables.Date" | translate }}
            </th>
            <th width="25%">
              {{ "Modules.Class.ClassList.Tables.Teacher" | translate }}
            </th>
            <th width="10%">
              {{ "Modules.Class.ClassList.Tables.Room" | translate }}
            </th>
            <th width="15%">
              {{ "Modules.Class.ClassList.Tables.Process" | translate }}
            </th>
            <th width="5%" nzAlign="center">
              {{ "Modules.Class.ClassList.Tables.Action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of classListTable.data; let i = index">
            <tr>
              <td nzAlign="center">{{ data.code }}</td>
              <td>{{ data.name }}</td>
              <td>
                {{ data.start_date | stringReplace }} -
                {{ data.end_date | stringReplace }}
              </td>
              <td class="avatar">
                <ng-container
                  *ngFor="let teacher of data.teachers; let last = last"
                >
                  {{ teacher.full_name }}{{ !last ? "," : "" }}
                </ng-container>
              </td>

              <td>
                <ng-container *ngFor="let room of data.rooms; let last = last">
                  {{ room.name }}{{ !last ? "," : "" }}
                </ng-container>
              </td>
              <td>{{ data.process }}</td>

              <td nzAlign="center">
                <span
                  (click)="onClickDetailClass(data)"
                  class="pointer"
                  nz-icon
                  nzType="eye"
                  nzTheme="outline"
                ></span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <!-- END CONTENT -->
</aio-template-layout>
